@import 'variables';
@import 'transition';
@import 'sidebar';

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

// ::-webkit-scrollbar{
//   height: 0 !important;
//   width: 0px !important;
// }
// ::-webkit-scrollbar-thumb{
//   border-radius: 1em;
//   background-color: rgba(50,50,50,.3);
// }
// ::-webkit-scrollbar-track{
//   border-radius: 1em;
//   background-color: rgba(50,50,50,.1);
// }
